@tailwind base;
@tailwind components;
@tailwind utilities;

.main{
    background-image:url('/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    /* opacity: 0.5; */
    background-size: cover;
    filter: blur(5px);
    -webkit-filter: blur(8px);
}
